body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9e99b0;
    background-image: url("/Users/dallas/personal-projects/peak-connect/client/public/styles/login.css");
  }
.login-body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    background-image: url("/public/images/login-background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
.login-container {
    background-color: #fff;
    padding: 60px;
    border: solid;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .login-form h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #73AD21;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .login-form input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #363e4a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-form button:hover {
    background-color: #363e4a;
  }
  
  .login-form p {
    text-align: center;
  }
  
  .login-form p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-form p a:hover {
    text-decoration: underline;
  }
  .login-button{
    float: right;
    border-radius: 20px;
    padding: 8px;
  border: 2px solid ;
  background-color: #333;
  color: white;
  }
  .register-button{
    text-align: center;
    float: right;
    margin-left: 15px;
    border-radius: 20px;
    border: 2px solid #73AD21;
    padding: 8px;
    background-color: #333;
    color: white;
  }

  @import '@fortawesome/fontawesome-free/css/all.min.css';

.home-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
}

.home-icon a {
  color: #007bff;
  text-decoration: none;
}

.home-icon a:hover {
  color: #0056b3;
}
